<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>537408528703-g27egddlqoqab9usfl5clkbo9ar0dgld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.537408528703-g27egddlqoqab9usfl5clkbo9ar0dgld</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>537408528703-ofcst94ko8smaackb81uk8chgf1km6hv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCn1jLpwoCWLinKxPw9fwZf1_e4gcC4cyo</string>
	<key>GCM_SENDER_ID</key>
	<string>537408528703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.PracticeRedux</string>
	<key>PROJECT_ID</key>
	<string>bulletin-board-c6f97</string>
	<key>STORAGE_BUCKET</key>
	<string>bulletin-board-c6f97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537408528703:ios:2498d4e9cea36983eab38a</string>
</dict>
</plist>